%h1 Listing magazines_series
%table
  %tr
    %th Magazines
    %th Series
    %th Placed
    %th
    %th
    %th
  - @magazines_series.each do |magazines_serie|
    %tr
      %td= magazines_serie.magazines
      %td= magazines_serie.series
      %td= magazines_serie.placed
      %td= link_to 'Show', magazines_serie
      %td= link_to 'Edit', edit_magazines_serie_path(magazines_serie)
      %td= link_to 'Destroy', magazines_serie, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Magazines serie', new_magazines_serie_path
