%p#notice= notice
%p
  %b Magazines:
  = @magazines_serie.magazines
%p
  %b Series:
  = @magazines_serie.series
%p
  %b Placed:
  = @magazines_serie.placed
= link_to 'Edit', edit_magazines_serie_path(@magazines_serie)
|
\#{link_to 'Back', magazines_series_path}
