%h1.mt-4.mb-2 ランキングカテゴリ一覧
%table.table
  %thead.table-light
    %tr
      %th リンク
      %th 名前
      %th 登録可
      %th 位最小値
      %th 位最大値
      %th 種別
      %th
  - @rankings.each do |ranking|
    %tr
      %td
        = link_to serie_ranking_path(ranking.name), class: 'btn btn-outline-info' do
          %i.bi.bi-link-45deg
      = form_for([:member, ranking]) do |f|
        %td= f.text_field :name, class: 'form-control'
        %td
          %label
            = f.check_box :is_registerable, class: 'form-check-input'
            登録可
        %td= f.text_field :scope_min, size: 2, class: 'form-control'
        %td= f.text_field :scope_max, size: 2, class: 'form-control'
        %td= f.text_field :kind, size: 5, class: 'form-control'
        %td= f.submit "変更", class: 'btn btn-info'
  %tr
    %td
    = form_for([:member, @new_ranking]) do |f|
      %td= f.text_field :name, class: 'form-control'
      %td
        %label
          = f.check_box :is_registerable, class: 'form-check-input'
          登録可
      %td= f.text_field :scope_min, size: 2, class: 'form-control'
      %td= f.text_field :scope_max, size: 2, class: 'form-control'
      %td= f.text_field :kind, size: 5, class: 'form-control'
      %td= f.submit "追加", class: 'btn btn-primary'
