%h1 ランキング設定一覧
%table
  %tr
    %th Name
    %th Name
    %th IsRegisterable
    %th ScopeMin
    %th ScopeMax
    %th Kind
    %th
  - @rankings.each do |ranking|
    %tr
      %td= link_to ranking.name, ranking
      = form_for(ranking) do |f|
        %td= f.text_field :name
        %td= f.check_box :is_registerable
        %td= f.text_field :scope_min, size: 2
        %td= f.text_field :scope_max, size: 2
        %td= f.text_field :kind
        %td= f.submit "変更"
  %tr
    %td
    = form_for(@new_ranking) do |f|
      %td= f.text_field :name
      %td= f.check_box :is_registerable
      %td= f.text_field :scope_min, size: 2
      %td= f.text_field :scope_max, size: 2
      %td= f.text_field :kind
      %td= f.submit "新規登録"
%h2 ランキング公開設定
%table
  %tr
    %th 設定
    %th タイトル
    %th 値
    %th
    %th
  - @site_configs.each do |config|
    %tr
      = form_for([:member, config]) do |f|
        %td= config.path
        %td= config.name
        %td= f.text_field :value
        %td= f.submit '変更', style: "margin: 20px;"
        %td= link_to '削除', config, :confirm => '削除してよいですか？', :method => :delete
  %tr
    = form_for([:member, SiteConfig.new]) do |f|
      %td= f.text_field :path
      %td= f.text_field :name
      %td= f.text_field :value
      %td= f.submit '作成', style: "margin: 20px;"
      %td
