%h1.mt-4.mb-2 ランキング詳細
%p
  %b 名前:
  = @ranking.name
%p
  %b 登録可:
  = @ranking.is_registerable ? 'はい' : 'いいえ'
%p
  %b 位最小値:
  = @ranking.scope_min
%p
  %b 位最大値:
  = @ranking.scope_max
%p
  %b 種別:
  = @ranking.kind
= link_to '一覧に戻る', member_rankings_path, class: 'btn btn-secondary'
