%h1.mt-4.mb-2 mantropy.net グローバル設定
%table.table
  %thead.table-light
    %tr
      %th 設定
      %th タイトル
      %th 値
      %th
      %th
  - @site_configs.each do |config|
    %tr
      = form_for([:member, config]) do |f|
        %td
          .form-control-plaintext= config.path
        %td
          .form-control-plaintext= config.name
        %td= f.text_field :value, class: 'form-control'
        %td= f.submit '変更', class: 'btn btn-info'
        %td= link_to '削除', member_site_config_path(config), :confirm => '削除してよいですか？', :method => :delete, class: 'btn btn-outline-danger'
  %tr
    = form_for([:member, SiteConfig.new]) do |f|
      %td= f.text_field :path, class: 'form-control'
      %td= f.text_area :name, class: 'form-control'
      %td= f.text_field :value, class: 'form-control'
      %td= f.submit '作成', class: 'btn btn-primary'
      %td
