%div{:style => "width: 100%; background-color: #efefef; margin: 0px;"}
  %dl.topic{:style => "margin: 0px;"}
    = tag :a, :name => i
  %div{:align => "right"}
    = link_to "全部読む", topic
    = link_to "最新50", "#{topic_path(topic)}/|50"
  %div{:style => "padding: 0px 0px 10px 0px;"}
    %b
      %font{:color => "gray"}= i
      %font{:color => "#FF0000", :size => "5"}= topic.title
  - j = 0
  - topic.posts.each do |post|
  - #break if (j += 1) > 10
    = render :file => "topics/_post", :locals => {:post => post}
  %dl
    - if current_user
      = render :file => "topics/_new_post", :locals => {:topic => topic}
