<%= form_for(@browsenodeid) do |f| %>
  <% if @browsenodeid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@browsenodeid.errors.count, "error") %> prohibited this browsenodeid from being saved:</h2>

      <ul>
      <% @browsenodeid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :node %><br />
    <%= f.text_field :node %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ancestor %><br />
    <%= f.text_field :ancestor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
