- @users.each do |user|
  アカウント名,順位,serie_id,タイトル,漫画家,雑誌
  - user.ranks.where(ranking_id: [7, 8]).sort{|a, b| (a.ranking_id <=> b.ranking_id).nonzero? or a.rank <=> b.rank}.each do |rank|
    #{user.name},#{rank.ranking_id == 7 ? nil : "糞"}#{rank.rank},#{rank.serie.id},#{rank.serie.name},#{rank.serie.authors.map{|a| a.name}.uniq.join("　") if rank.serie.authors},#{rank.serie.magazines.map{|m| m.name}.uniq.join("　") if rank.serie.magazines}
  ,
