Listing users

<table>
  <tr>
    <th>名前</th>
    <th>個人ランキング登録数</th>
    <th>クソ漫画登録数</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= (complete_ranking(1, 1..30, user) ? "個人ランキング提出済み" : content_tag(:b, user.ranks.where(:ranking_id => 1).size, :style =>"color: black;")) %></td>
    <td><%= (complete_ranking(2, 1..5, user) ? "クソランキング提出済み" : content_tag(:b, user.ranks.where(:ranking_id => 2).size, :style =>"color: black;")) %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%= link_to 'Show', user_path(user.name) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete if false %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
