<% @users.each do |user| %>
  <div class="member">
    <%= link_to (image_tag "/images/nil_medium.jpg", :alt => user.name, :width=> 128, :height=> 128), user_path(user.name) %>
    <br />
    <%= link_to (user.name), user_path(user.name) %>
    <br />
    <%= user.publicabout && user.publicabout != "" ? "#{user.publicabout[0..7]}#{user.publicabout.length > 9 ? "…" : nil}" : "頭がァッ！　ぶわわ" %>
  </div>
<% end %>
<br style="clear: both;" />

Listing users
<table>
  <tr>
    <th>名前</th>
    <th>漫画コメント数</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.posts.count %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%= link_to 'Show', user_path(user.name) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) if user == current_user %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete if false %></td>
  </tr>
<% end if current_user %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
