- @users.each do |user|
  .member
    = link_to (image_tag "/images/nil_medium.jpg", :alt => user.name, :width=> 128, :height=> 128), user_path(user.name)
    %br/
    = link_to (user.name), user_path(user.name)
    %br/
    = user.publicabout && user.publicabout != "" ? "#{user.publicabout[0..7]}#{user.publicabout.length > 9 ? "…" : nil}" : "頭がァッ！　ぶわわ"
- if current_user
  - @users.each do |user|
    = link_to (user.name), user_path(user.name)
    - @registerable_rankings.each do |ranking|
      - if !complete_ranking(ranking, user)
        %b{:style => "background-color: yellow;"}= ranking.name + '不十分'
        提出数
        %b= user.ranks.where(:ranking_id => ranking.id).count
    %br/
%br{:style => "clear: both;"}/
