- @users.each do |user|
  .member
    = link_to (image_tag "/images/nil_medium.jpg", :alt => user.name, :width=> 128, :height=> 128), user_path(user.name)
    %br/
    = link_to (user.name), user_path(user.name)
    %br/
    = user.publicabout && user.publicabout != "" ? "#{user.publicabout[0..7]}#{user.publicabout.length > 9 ? "…" : nil}" : "頭がァッ！　ぶわわ"
- if current_user
  - @users.each do |user|
    = link_to (user.name), user_path(user.name)
    %a{:href => "/"}= content_tag :b, '個人ランキングが不十分です。提出はまだ完了していません', :style => "background-color: yellow;" unless complete_ranking(5, 1..30, user)
    %br/
%br{:style => "clear: both;"}/
%br/
= link_to 'New User', new_user_path
