%p
  %b アカウント名:
  = @user.name
%p
  %b 本名:
  = @user.realname
%p
  %b パソコンメールアドレス:
  = @user.pcmail
%p
  %b 携帯メールアドレス:
  = @user.mbmail
%p
  %b twitter screen name:
  = link_to @user.twitter, "http://twitter.com/#{@user.twitter}", :target => "_blank"
%p
  %b url:
  = link_to @user.url, @user.url, :target => "_blank"
%p
  %b 外部向け自己紹介:
  = @user.publicabout
%p
  %b 内部向け自己紹介:
  = @user.privateabout
%p
  %b 入トロ:
  = @user.joined
%p
  %b 入学:
  = @user.entered
%p
  %b .userauths.email:
  - @user.userauths.map{|a| a.email }
%p
  %h2 ポスト
  最新10件
  %br/
  - @user.posts.order("id DESC").limit(10).each do |post|
    = link_to post.topic.title || Serie.find_by_topic_id(post.topic.id).name, post.topic
    = post.content[0..24]
    %br/
%p
  %h2 ランキング
  - ranks = []
  - if complete_ranking(5) || current_user == @user
    - @ranks.sort{|a, b| (a.ranking_id <=> b.ranking_id).nonzero? or a.rank <=> b.rank}.each do |rank|
      = content_tag :b, '警告！　順位が重複してるので削除して下さい！', :style => "background-color: red;" if ranks.include? rank.rank  && rank.ranking_id == 1
      - next unless rank.serie
      = rank.ranking.name
      = (ranks << rank.rank).last
      位
      = link_to image_tag(serie_image_path(rank.serie, :small), :alt=> rank.serie.name), rank.serie
      = link_to rank.serie.name, rank.serie
      - if rank.serie.authors then
        - rank.serie.authors.each do |author|
          = link_to author.name, serie_search_path(:str => author.name)
      = link_to rank.serie.magazines.select("DISTINCT *").map{|m| m.name} if rank.serie.magazines
      = link_to '削除', rank, :confirm => "#{rank.serie.name} を #{rank.rank} 位から削除していいですか？", :method => :delete, :controller => :ranks if @user == current_user && rank.ranking_id == 5
    %br/
  %a{:href => "/"}= content_tag :b, '個人ランキングが不十分です。提出はまだ完了していません', :style => "background-color: yellow;" unless complete_ranking(1, 1..30, @user)
  %a{:href => "/"}= content_tag :b, '糞漫画ランキングが不十分です。提出はまだ完了していません', :style => "background-color: yellow;" unless complete_ranking(2, 1..5, @user)
= link_to '編集する', edit_user_path(@user) if @user == current_user
|
\#{link_to 'Back', users_path}
