<p>
  <b>アカウント名:</b>
  <%= @user.name %>
</p>

<p>
  <b>本名:</b>
  <%= @user.realname %>
</p>

<p>
  <b>パソコンメールアドレス:</b>
  <%= @user.pcmail %>
</p>

<p>
  <b>携帯メールアドレス:</b>
  <%= @user.mbmail %>
</p>

<p>
  <b>twitter screen name:</b>
  <%= @user.twitter %>
</p>

<p>
  <b>url:</b>
  <%= @user.url %>
</p>

<p>
  <b>外部向け自己紹介:</b>
  <%= @user.publicabout %>
</p>

<p>
  <b>内部向け自己紹介:</b>
  <%= @user.privateabout %>
</p>

<p>
  <b>入トロ:</b>
  <%= @user.joined %>
</p>

<p>
  <b>入学:</b>
  <%= @user.entered %>
</p>

<p>
  <b>.userauths.email:</b>
  <%= @user.userauths.map{|a| a.email } %>
</p>

<p>
<h2>ランキング</h2>
<% ranks = [] %>
  <% @user.ranks.sort{|a, b| a.rank <=> b.rank}.each do |rank| %>
    <%= content_tag :b, '警告！　順位が重複してるので削除して下さい！', :style => "background-color: red;" if ranks.include? rank.rank %>
    <%= (ranks << rank.rank).last %>位
    <%= link_to ApplicationController.helpers.image_tag(serie_image_path(rank.serie, :small), :alt=> rank.serie.name), rank.serie %>
    <%= link_to rank.serie.name, rank.serie %>
    <%= rank.ranking.name %>
    <%= link_to '削除', rank, :confirm => "#{rank.serie.name} を #{rank.rank} 位から削除していいですか？", :method => :delete, :controller => :ranks if @user == current_user %>
    <br />
  <% end %>
  <a href="/"><%= content_tag :b, 'ランキング数が不十分です。提出はまだ完了していません', :style => "background-color: yellow;" unless ranks == (1..30).to_a %></a>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
