= form_with model: [:member, @rank], local: true do |f|
  - if @rank.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rank.errors.count, 'error')} prohibited this rank from being saved:"
      %ul
        - @rank.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :rank
    = f.number_field :rank
  .field
    = f.label :score
    = f.number_field :score
  .field
    = f.label :ranking_id
    = f.number_field :ranking_id
  .field
    = f.label :serie_id
    = f.number_field :serie_id
  .actions
    = f.submit
