%h1 Listing ranks
%table
  %tr
    %th Rank
    %th Score
    %th Ranking
    %th Serie
    %th
    %th
  - @ranks.each do |rank|
    %tr
      %td= rank.rank
      %td= rank.score
      %td= rank.ranking&.name
      %td= rank.serie&.name
      %td= link_to 'Show', member_rank_path(rank)
      %td= link_to 'Edit', edit_member_rank_path(rank)
%br
= link_to 'New Rank', new_member_rank_path
