%p#notice= notice
%p
  %b Rank:
  = @rank.rank
%p
  %b Score:
  = @rank.score
%p
  %b Ranking:
  = @rank.ranking&.name
%p
  %b Serie:
  = @rank.serie&.name
= link_to 'Edit', edit_member_rank_path(@rank)
|
= link_to 'Back', member_ranks_path
