<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :publicationdate %><br />
    <%= f.date_select :publicationdate %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :detailurl %><br />
    <%= f.text_field :detailurl %>
  </div>
  <div class="field">
    <%= f.label :smallimgurl %><br />
    <%= f.text_field :smallimgurl %>
  </div>
  <div class="field">
    <%= f.label :mediumimgurl %><br />
    <%= f.text_field :mediumimgurl %>
  </div>
  <div class="field">
    <%= f.label :largeimgurl %><br />
    <%= f.text_field :largeimgurl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
