- content_for :header do
  = javascript_include_tag 'wikis_show'

- if @wiki.present?
  = raw(HikiDoc.to_html(@wiki.content, :use_wiki_name=>false))
  - if current_user
    %hr
    %h3 Wikiページ情報
    %p
      %b 内部のみ？:
      = @wiki.is_private ? "はい" : "いいえ"
    %p
      %b 編集者:
      = @wiki.user.name
    = link_to new_member_wiki_path(id: @wiki.id), class: 'btn btn-sm btn-outline-primary' do
      %i.bi.bi-pencil-fill
      ページを編集

    %p.mt-2
      %button{type: :button, class: 'btn btn-sm btn-outline-primary', id: 'show-wiki-histories'}
        %i.bi.bi-clock-history
        このページの過去の版
      %ul#wiki-histories{style: 'display: none;'}
        - @wikis.each do |wiki|
          %li
            = link_to wiki.created_at, wiki_path(wiki.name, id: wiki.id)
            = link_to wiki.title, wiki_path(wiki.name, id: wiki.id)
            = link_to (user_name = wiki.user.name), user_path(user_name)
            = @wiki == wiki ? "<= 閲覧中" : nil
    = link_to "Wikiページ一覧に戻る", member_wikis_path
