%h1 Wikiページの一覧
%table
  %tr
    %th Name
    %th Title
    %th Content
    %th Is private
    %th User
    %th
  - @wikis.each do |wiki|
    %tr
      %td= link_to wiki.name, wiki_path(name: wiki.name)
      %td= link_to wiki.title, wiki_path(name: wiki.name)
      %td= link_to wiki.content[0..100], wiki_path(name: wiki.name)
      %td= wiki.is_private
      %td= link_to wiki.user.name, user_path(wiki.user.name)
      %td= link_to 'Show', wiki
%br/
= link_to '新しいWikiページを作る', new_member_wiki_path
