= form_for([:member, @book]) do |f|
  - if @book.errors.any?
    #error_explanation
      %h2
        = pluralize(@book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :isbn
    %br
    = f.text_field :isbn
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :publisher
    %br
    = f.text_field :publisher
  .field
    = f.label :publicationdate
    %br
    = f.date_select :publicationdate
  .field
    = f.label :kind
    %br
    = f.text_field :kind
  .field
    = f.label :detailurl
    %br
    = f.text_field :detailurl
  .field
    = f.label :smallimgurl
    %br
    = f.text_field :smallimgurl
  .field
    = f.label :mediumimgurl
    %br
    = f.text_field :mediumimgurl
  .field
    = f.label :largeimgurl
    %br
    = f.text_field :largeimgurl
  .actions
    = f.submit
