%h1 Listing books
%table
  %tr
    %th Isbn
    %th Name
    %th Publisher
    %th Publicationdate
    %th Kind
    %th Detailurl
    %th Smallimgurl
    %th Mediumimgurl
    %th Largeimgurl
    %th
    %th
    %th
  - @books.each do |book|
    %tr
      %td= book.isbn
      %td= book.name
      %td= book.publisher
      %td= book.publicationdate
      %td= book.kind
      %td= book.detailurl
      %td= book.smallimgurl
      %td= book.mediumimgurl
      %td= book.largeimgurl
      %td= link_to 'Show', member_book_path(book)
      %td= link_to 'Edit', edit_member_book_path(book)
      %td= link_to 'Destroy', member_book_path(book), :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Book', new_member_book_path
