%p#notice= notice
%p
  %b Isbn:
  = @book.isbn
%p
  %b Name:
  = @book.name
%p
  %b Publisher:
  = @book.publisher
%p
  %b Publicationdate:
  = @book.publicationdate
%p
  %b Kind:
  = @book.kind
%p
  %b Detailurl:
  = @book.detailurl
%p
  %b Smallimgurl:
  = @book.smallimgurl
%p
  %b Mediumimgurl:
  = @book.mediumimgurl
%p
  %b Largeimgurl:
  = @book.largeimgurl
= link_to 'Edit', edit_member_book_path(@book)
|
\#{link_to 'Back', member_books_path}
