%h1= @title
%table.table
  %thead.table-light
    %tr
      %th ID
      %th 名前
      %th
  %tbody
    - @series.each do |serie|
      %tr
        %td= serie.id
        %td= link_to serie.name, serie_path(serie)
        %td= link_to '編集', edit_member_serie_path(serie), class: 'btn btn-sm btn-outline-secondary'
= paginate @series
%br
= link_to 'シリーズを追加', new_member_serie_path, class: 'btn btn-primary'
