%table
  - @series.each do |serie|
    %tr
      %td
        id:
        = serie.id
      %td= link_to image_tag(serie_image_path(serie, :small), :alt=> serie.name, :style => "float: left;"), serie, {:target => "_blank"}
      %td= link_to serie.name, serie, {:target => "_blank"}
      %td
        - if serie.authors
          - serie.authors.each do |author|
            = link_to author.name, series_path(:str => author.name)
            %br/
      %td
        - serie.ranks(:ranking_id => 5).each do |rank|
          = link_to rank.user.name, user_path(rank.user.name) if rank.user
          = rank.rank
          位
          %br/
      %td
        ここに統合ボタン
