= form_for([:member, @topic]) do |f|
  - if @topic.errors.any?
    #error_explanation
      %h2
        = pluralize(@topic.errors.count, "error")
        prohibited this topic from being saved:
      %ul
        - @topic.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :appear
    %br
    = f.text_field :appear
  .actions
    = f.submit
