%table{:align => "center", :bgcolor => "#CCFFCC", :border => "1", :cellpadding => "3", :cellspacing => "7", :width => "100%"}
  %tr
    %td{:align => "center"}
      %table{:border => "0", :cellpadding => "1", :width => "100%"}
        %tr
          %td{:colspan => "2", :nowrap => ""}
            %font{:size => "+1"}
              %b
                %a{:href => "/"} 京大漫トロピー
                内部掲示板
            %br/
          %td{:align => "right", :nowrap => "", :valign => "top", :width => "5%"}
        %tr
          %td{:colspan => "3"}
            %h2{:style => "color:#FFA500;"}
            %ul
              私的メモみたいな
              %li
                E-mail欄はE-mailアドレスを書く場所ではありません
                %ul
                  %li sageとか書く場所です、たぶん。
              %li sage機能を実装する　→
              %li ていうか、先ず上げ機能を実装しないと　→
              %li http://をリンクにする
              %li リンクにして&lt;div&gt;ポップアップしたい
        %tr
          %td{:align => "right", :nowrap => ""}
%table{:align => "center", :bgcolor => "#CCFFCC", :border => "1", :cellpadding => "3", :cellspacing => "7", :width => "100%"}
  %tr
    %td
      %font{:size => "2"}
        - i = 0
        - @topics.each do |topic|
          - if (i += 1) <= 10 then
            = link_to "#{i}:", topic
            = link_to topic.title, "##{i}"
            　
          - else
            = link_to "#{i}: #{topic.title}", topic
            　
      %div{:align => "right"}
        = link_to "スレッド一覧はこちら", member_topics_path
- @topics.each_with_index do |topic, i|
  - break if (i += 1) > 10
  %table{:align => "center", :bgcolor => "#EFEFEF", :border => "1", :cellpadding => "3", :cellspacing => "7", :width => "100%"}
    %tr
      %td
        = render :file => "topics/_topic", :locals => {:topic => topic, :i => i}
%table{:align => "center", :bgcolor => "#CCFFCC", :border => "1", :cellpadding => "3", :cellspacing => "7", :width => "100%"}
  %tr
    %td{:nowrap => ""}
      %dl
        %dt
          = form_for topic = Topic.new do |f|
            タイトル：#{f.text_field :title}
            \#{f.submit "新規スレッド作成"}
            %br/
            E-mail： #{text_field_tag :email}
        %dd
          = text_area_tag :content, nil, {:rows => 5, :cols => 64}
%br/
%a{:href => "/"} 漫トロピーWeb
BBS.RB - 2010/12/01*2011/11/05 +
%a{:href => "/"} 京大漫トロピー
+ Linux + Apache2 + Passenger + Ruby + Rails
%br/
