- count = 0
- before = ""
- @series.each do |serie|
  - if serie.name[0..2] == before[0..2]
    = link_to (content_tag "font", serie.name, :color => "red"), serie
  - else
    = link_to serie.name, serie
  = serie.id
  = serie.authors.map{|a| a.name}
  = serie.magazines.select("DISTINCT *").map{|m| m.name}
  %br/
  - before = serie.name
- end if @series
