<% count = 0 %>
<% @series.each do |serie| %>
  <p class="serie">
  <%= "順位 :#{count += 1}　#{serie.url}" %><br />
  <%= link_to image_tag(serie_image_path(serie), :alt=> serie.name, :style => "float: left;"), serie if count <= 30 %>
  <p class="serie_detail">
    <h2><%= link_to serie.name, serie %></h2>
    <%= serie.authors.map{|a| a.name} %>
    <%= serie.magazines.select("DISTINCT *").map{|m| m.name} %><br />
    <% serie.ranks.each do |r| %>
      <%= link_to r.user.name, user_path(r.user.name) %>
    <% end %>
  </p>
  <br style="clear: both;" />
<% end if @series %>
