- count = 0
- @series.each do |serie|
  - if current_user && serie.ranks.where(:ranking_id => 5).map{|r| r.user_id}.include?(current_user.id)
    %p.serie{:style => "background-color: cyan;"}
      ランキングへ入れています
  %p.serie
    順位:
    = serie.url[:rank]
    合計得点:
    = serie.url[:sum_of_mark]
    糞修正後得点:
    = serie.url[:sum_of_mark_with_kuso]
    ランキング重複数:
    = serie.url[:count_rank]
    糞重複数:
    = serie.url[:count_kuso]
    コメント数:
    = serie.url[:count_post]
  = link_to image_tag(serie_image_path(serie), :alt=> serie.name, :style => "float: left;"), serie, {:target => "_blank"} if (count += 1) <= 30
  %p.serie_detail
    %h2= link_to serie.name, serie, {:target => "_blank"}
    = serie.authors.map{|a| a.name}
    = serie.magazines.select("DISTINCT *").map{|m| m.name}
    %br/
    - serie.ranks.where(:ranking_id => [5, 6]).sort{|a, b| (a.ranking_id <=> b.ranking_id).nonzero? || a.rank <=> b.rank}.each do |r|
      = link_to "#{r.user.name} (#{r.ranking_id == 6 ? "糞" : nil}#{r.rank}位)", user_path(r.user.name)
  %br{:style => "clear: both;"}/
  %br/
- end if @series
= paginate @series
