.serie_image
  = link_to image_tag(serie_image_path(@serie, :large), :alt => @serie.name), serie_to_amazon_url(@serie), {:target => "_blank", :title=>"Amazonで購入"}
.serie_detail
  %h1= @serie.name
  %p.serie_authors
    %h3 著者
    = @serie.authors.map{|a| a.name} if @serie.authors
  %p.serie_magazines
    %h3 掲載誌
    %table
      %tr
        %th 雑誌名
        %th 雑誌掲載情報
        %th 出版社
      - @serie.magazines_series.each do |ms|
        %tr
          %td= ms.magazine && ms.magazine.name
          %td= ms.placed
          %td= ms.magazine && ms.magazine.publisher
  %p.serie_post
    %h3 細部
    = render :partial => "member/topics/post", :locals => {:post => @serie.post} if @serie.post
  - if current_user
    = link_to 'ランキング登録・シリーズ情報修正', edit_member_serie_path(@serie), :class => :serie_edit
%h3 ランキング情報
.serie_ranks
  - @ranks.each do |rank|
    = rank.ranking.name
    = rank.rank
    位
    \#{rank.score}点
    \#{link_to rank.user.name, user_path(rank.user.name) if rank.user}
    %br
= render :partial => "member/topics/topic", :locals => {:topic => @serie.topic, :i => nil}
.serie_similar
  %b 似ている漫画（デモ）
  停止中
  %br
  -# - @similar_series.each do |serie|
    = link_to image_tag(serie_image_path(serie, :small), :alt => serie.name), serie
    = link_to serie.name, serie
    %br
.serie_books
  %b 書籍収録情報
  - @serie.books.each do |book|
    %div
      = link_to image_tag(book.smallimgurl ||  'nil_small.jpg', :alt => book.name), member_book_path(book)
      = link_to book.name, member_book_path(book)
