<div class="serie_image">
  <%= image_tag(serie_image_path(@serie, :large), :alt => @serie.name) %>
</div>
<div class="serie_detail">
  <h1><%= @serie.name %></h1>
  <p class="serie_authors">
  <b>著者:</b>
  <%= @serie.authors.map{|a| a.name} if @serie.authors %>
  </p>
  <p class="serie_magazines">
  <b>掲載誌:</b>
  <%= @serie.magazines.map{|m| m.name} if @serie.magazines %>
  </p>
  <p class="serie_post">
  <b>細部:</b>
  <%= render :file => "topics/_post", :locals => {:post => @serie.post} if @serie.post %>
  </p>
  <%= link_to 'シリーズ情報を修正する', edit_serie_path(@serie), :class => :serie_edit %>
</div>

<%= render :file => "topics/_topic", :locals => {:topic => @serie.topic, :i => nil} %>
<div class="serie_books">
<b>書籍収録情報</b>
<% @serie.books.each do |book|%>
  <div>
    <%= link_to image_tag(book.smallimgurl ||  'nil_small.jpg', :alt => book.name), book  %>
    <%= link_to book.name, book %>
  </div>
  <% end %>
</div>
