<!DOCTYPE html>
<html lang="ja">
<head>
<title><%= title %> -漫トロピーWeb</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css" />
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body style="background-color:<%= (Rails.env == "development" ? "black" : "#EFEFEF;") -%>">

<div align="center" width="100%">

<table cellpadding="0" cellspacing="0" width="<%= width -%>" border=0 bgcolor=white>
	<tr width="100%">
        <td align="left"><font size="-1">
            <%= link_to "トップ", root_path, :class => :head %>
            <%= link_to "活動内容", about_path, :class => :head %>
            <%= link_to "メンバー", users_path, :class => :head %>
        <% if current_user %>
          | <%= link_to "漫画一覧", series_path, :class => :head %>
          <%= link_to "ランキング", serie_ranking_path(Ranking.find(1).name), :class => :head %>
          <%= link_to "(糞)", serie_ranking_path(Ranking.find(2).name), :class => :head %>
          <%= link_to "IRC", irc_path, :class => :head %> -
	  <a href="http://wiki.livedoor.jp/mantropy/" target="_blank" class="head">Wiki</a>
          <a href="http://skydrive.live.com/" target="_blank" class="head">SkyDrive</a>
        <% end %>
	| <a href="http://twitter.com/mantropy/lists/mantropy" target="_blank" class="head">タイムライン</a>
	</font></td>
	<td align="right"><font size="-1">
        <% unless current_user %>
          <%= link_to 'ログイン', [:new, :userauth_session], :class => :head %>
          <%= link_to 'ユーザー登録', [:new, :userauth_registration], :class => :head if false %>
        <% else %>
          <%= link_to 'ログアウト', destroy_userauth_session_path, {:method => :delete, :class => :head} %>
        <% end %>
	</font></td>
	</tr>
	<tr>
	<td colspan="2" height="2"></td>
	</tr>
	<tr>
	<td colspan="2" height="2" bgcolor="silver"></td>
	</tr>
	<tr>
	<td colspan="2" height="5"></td>
	</tr>
</table>


<table cellpadding="0" cellspacing="0" width="<%= width -%>" bgcolor=white>
  <%= form_tag(serie_search_path, {:method => :get}) do %>
        <tr width="100%">
	<td align="left" rowspan="2" width="170">
	<a href="/"><img src="/images/logo.png" alt="漫トロピーWebロゴ" width="164" border=0></a>
	</td>
	<td align="left" valign="bottom" nowrap>
      <%= text_field_tag :str, @str, {:size => 55, :title => "漫トロピーWeb検索", :style => "font-size: 12pt"} %>
      <%= submit_tag "検索" %>
	<font size="-1">　<a href="">検索オプション</a></font>
	</td>
	</tr>
	<tr>
	<td align="left">
	<font size="-1">
        <% if current_user %>
        <label><%= radio_button_tag :scope, "amazon_all" %>Amazonからいっぱい検索</label>
        <label><%= radio_button_tag :scope, "amazon", true %>密林もちょっと</label>
      <% else %>
        　　　　<label><%= radio_button_tag :scope, "amazon", true %>ぅぅぅ…苦しい……</label>
        <% end %>
        <label><%= radio_button_tag :scope, "mantropy", %>漫トロピーWebだけ</label>
        <% if current_user %>
        <label><%= radio_button_tag :scope, "mine" %>自分のを探す</label>
        <% end %>
        </font>
	</td>
	</tr>
	<tr><td colspan="2" height="10"></td></tr>
      <% end %>
</table>

<table cellpadding="0" cellspacing="0" width="<%= width -%>" style="margin: 0px;">
	<tr width="100%">
	<td align="left" colspan="2" height="1" width="1024" bgcolor="cyan"></td>
	</tr>
	<tr>
	<td align=left valign=middle height=24 nowrap bgcolor=aliceblue><%= title %></td>
        <td align=right valign=middle nowrap bgcolor=aliceblue>
          <% if current_user %>
            おはようございます、<b><%= current_user.name %></b>さん
         <% else %>
            ウレピー！
          <% end %>
        </td>
	</tr>
</table>

<div id="main" align="<%= align -%>" style="width:<%= width -%>px; background-color: white; padding: 0px; margin: 0px; border: 0px;">
<p class="notice" style="background-color: cyan; padding: 0px; margin: 0px; border: 0px;"><%= notice -%></p>
<p class="alert" style="background-color: red; padding: 0px; margin: 0px; border: 0px;"><%= alert -%></p>

<!-- ここまでが自動生成ヘッダ -->

<%= yield %>

<!-- ここから自動生成フッダ -->

</div>
<small>&copy;<a href="/" target="_blank">京大漫トロピー</a></small><br>
</div>

ページの終わり。。。 <%= "Logined as #{current_user.name}" if current_user %>
</body>
</html>
