!!!
%html{:lang => "ja"}
  %head
    %title
      = title
      \-漫トロピーWeb
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    / Bootstrap
    %script{:crossorigin => "anonymous", :integrity => "sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW", :src => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"}
    %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css", :rel => "stylesheet"}/

    = csrf_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body{:style => "background-color:#{(Rails.env == "development" ? "black" : "#EFEFEF;")}"}
    #body{:align => "center"}
      #wrapper{:style => "width: #{width}px;"}
        %table{:bgcolor => "white", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => width}
          %tr{:width => "100%"}
            %td{:align => "left"}
              %font{:size => "-1"}
                = link_to "トップ", root_path, :class => :head
                = link_to "漫トロピーについて", wiki_path('about'), :class => :head
                = link_to "メンバー", users_path, :class => :head
                = link_to "ランキング", serie_ranking_path(Ranking.where(kind: "kojin").last&.name), :class => :head
                = link_to "活動ブログ", "http://mantropy.hatenablog.com/", :class => :head
                - if current_user
                  \- #{link_to "掲示板", member_topics_path, :class => :head}
                  \#{link_to "(糞)", serie_ranking_path(Ranking.where(kind: 'kuso').last&.name), :class => :head}
                  | #{link_to "Wiki", member_wikis_path, :class => :head}
                  %a.head{:href => "http://wiki.livedoor.jp/mantropy/", :target => "_blank"} (旧Wiki)
                  %a.head{:href => "http://skydrive.live.com/", :target => "_blank"} SkyDrive
                  \-
                - else
                  |
                  %a.head{:href => "https://twitter.com/mantropy/lists/mamyropy-obog", :target => "_blank"} タイムライン
            %td{:align => "right"}
              %font{:size => "-1"}
                - if current_user
                  = link_to 'ログアウト', destroy_userauth_session_path, {:method => :delete, :class => :head}
                - elsif current_userauth
                  = link_to "ユーザー細部登録", new_member_user_path, :class => :head
                - else
                  = link_to 'ログイン', [:new, :userauth_session], :class => :head
          %tr
            %td{:colspan => "2", :height => "2"}
          %tr
            %td{:bgcolor => "silver", :colspan => "2", :height => "2"}
          %tr
            %td{:colspan => "2", :height => "5"}
        %table{:bgcolor => "white", :cellpadding => "0", :cellspacing => "0", :width => width}
          = form_tag(series_path, {:method => :get}) do
            %tr{:width => "100%"}
              %td{:align => "left", :rowspan => "2", :width => "170"}
                %a{:href => root_path}
                  = image_tag "logo.png", width: 164, alt: "漫トロピーWebロゴ", border: 0
              %td{:align => "left", :nowrap => "", :valign => "bottom"}
                = text_field_tag :str, @str, {:size => 55, :title => "漫トロピーWeb検索", :style => "font-size: 12pt"}
                = submit_tag "検索"
                %font{:size => "-1"}
                  　
                  %a{:href => ""} 検索オプション
            %tr
              %td{:align => "left"}
                %font{:size => "-1"}
                  - if current_user
                    %label
                      = radio_button_tag :scope, "rakuten", true
                      Rakutenから検索
                  - else
                    %label
                      = radio_button_tag :scope, "mantropy", true
                      ぎも゛ぢいぃ゛いぃ゛ぃ
                  %label
                    = radio_button_tag :scope, "mantropy"
                    漫トロWebから検索
            %tr
              %td{:colspan => "2", :height => "10"}
        %table{:cellpadding => "0", :cellspacing => "0", :style => "margin: 0px;", :width => width}
          %tr{:width => "100%"}
            %td{:align => "left", :bgcolor => "cyan", :colspan => "2", :height => "1", :width => "1024"}
          %tr
            %td{:align => "left", :bgcolor => "aliceblue", :height => "24", :nowrap => "", :valign => "middle"}= title
            %td{:align => "right", :bgcolor => "aliceblue", :nowrap => "", :valign => "middle"}
              - if current_user
                おはようございます、
                %b>= current_user.name
                さん
              - else
                ウレピー！
        #main{:align => align, :style => "width:#{width}px;"}
          %p.notice= notice
          %p.alert= alert
          / ここまでが自動生成ヘッダ
          = yield
          / ここから自動生成フッダ
      %small
        \&copy;
        %a{:href => root_path, :target => "_blank"} 京大漫トロピー
      %br/
    ページの終わり。。。 #{"Logined as #{current_user.name}" if current_user}
